.recipe-heading {
  margin-top: 4px;
  margin-bottom: 8px;
}

.favorite {
  text-align: start;
  border: none;
  border-radius: 50px;
  background-color: rgb(255, 253, 221);
  margin-right: 5px;
  margin-bottom: 12px;
}

.favorite:hover {
  border: 2px solid orange;
}

.favorite:active {
  outline: 0;
}

.favorite:focus {
  outline: 0;
}

.recipe-name {
  font-family: Helvetica, Arial, Sans-serif;
  font-size: 22px;
  letter-spacing: 0.04rem;
  color: black;
  text-decoration: none;
  word-wrap: break-word;
  padding-left: 10px;
}

.recipe-name:hover {
  color: rgb(74, 121, 124);
}

.ingredients-header {
  font-style: italic;
  margin-bottom: 8px;
}
.recipe-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: auto;
  margin: 28px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.recipe-image {
  flex: 1;
  margin: auto;
  width: auto;
  height: auto;
  max-width: 340px;
  position: relative;
  width: auto;
}

.recipe-image:hover {
  opacity: 0.5;
}

.recipe-info {
  flex: 1;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 10px;
  /* width: 50px;
  height: 50px; */
}

.recipe-ingredient {
  word-wrap: break-word;
  text-align: start;
}

.recipe-icon {
  display: flex;
  align-items: center;
  padding: 4px;
}

@media all and (min-width: 760px) {
  .recipe-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: auto;
    margin: 50px;
  }
}
