div.LandingNav {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  height: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding: 10px;
  z-index: 99999;
}

.LandingTitle {
  width: 100px;
  height: 100px;
}
.signup-login {
  position: relative;
  font-family: Avenir, Helvetica, Arial, Sans-serif;
}
.signup-link,
.login-link {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  margin: 8px;
}

.signup-link {
  background-color: rgb(108, 190, 195);
  color: white;
  padding: 10px;
  font-weight: 600;
  box-shadow: 0 0.0625rem 0.1875rem 0 rgba(28, 92, 104, 0.1), 0 0.0625rem 0.125rem 0 rgba(28, 92, 104, 0.06);
}

.login-link {
  color: black;
  font-weight: 600;
}
@media all and (min-width: 600px) {
  div.LandingNav {
    display: flex;
    justify-content: space-between;
    padding-left: 6rem;
    padding-right: 6rem;
  }
  .LandingTitle {
    margin: 12px;
  }
  .signup-link {
    background-color: rgb(108, 190, 195);
    color: white;
    padding: 10px;
    font-weight: 600;
    box-shadow: 0 0.0625rem 0.1875rem 0 rgba(28, 92, 104, 0.1), 0 0.0625rem 0.125rem 0 rgba(28, 92, 104, 0.06);
  }
  .signup-link,
  .login-link {
    margin: 18px;
  }
}
