.ingredients {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.get-recipes {
  margin-top: 25px;
  font-family: 'Inter', sans-serif;
  text-align: center;
}
/* 
.recipes {
  display: flex;
  flex-direction: column;
  justify-content: center;
} */
.recipes {
  padding-left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: auto;
  text-align: center;
  list-style-position: inside;
}

@media all and (min-width: 760px) {
  .recipes {
    display: inline-block;
  }
}
