div.LandingNav {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(233, 208, 161);
  padding: 20px;
}

header.signup-login {
  position: relative;
}

@media all and (min-width: 600px) {
  div.LandingNav {
    display: flex;
    justify-content: space-between;
  }
}
