/* main.app-main {
  text-align: center;
} */

footer {
  padding: 150px;
  background: rgb(136, 121, 121);
  /* display: inline-block; */
  text-align: center;
  left: 0;
  bottom: 0;
  height: 22px;
  font-family: sans-serif;
  /* position: fixed; */
}

ul {
  list-style: none;
}
